@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}
